@import '../../shared/styles/variables.scss';
$nav-icon-dimension: 23px;

.nav-bar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  border: 1px solid $section-border-color;

  &:hover {
    background-color: #1b1c1e;
  }

  &__icon {
    background-image: url('../../../assets/nav-icons-sprite.png');
    width: $nav-icon-dimension;
    height: $nav-icon-dimension;
    margin-bottom: 4px;

    &--snowflakes {
      background-position: 0;
    }

    &--magnets {
      background-position: $nav-icon-dimension * -1;
    }

    &--liquids {
      background-position: $nav-icon-dimension * -2;
    }
  }

  &__text {
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    color: #ffffff;
  }

  &__sub-menu {
    position: absolute;
    z-index: 10;
    left: -10000em;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    background-color: #3d3d3d;
  }

  // Use a wonky selector to show the sub-menu when hovering over the main nav item or the sub-menu.
  &:hover &__sub-menu,
  &:hover &__sub-menu:hover {
    left: auto;
  }

  &__sub-nav-item {
    padding: 4px 8px;
    border: 1px solid #000000;
    text-align: left;

    &:hover {
      background-color: #4e4e4e;
    }
  }
}
