$section-border-color: #202020;
$section-header-background-color: #202020;
$section-background-color: #17181a;
$section-margin: 4px;
$section-padding: 16px;
$nav-bar-height: 60px;
$main-button-color: #5c82a9;
