@import '../../shared/styles/variables.scss';

.nav-bar {
  margin: $section-margin 0;
  border: 1px solid $section-border-color;
  height: $nav-bar-height;
  border-bottom: 4px solid #2b3942;
  background-color: $section-header-background-color;
  display: flex;
}
