.button {
  background: linear-gradient(#5c82a9, #4a6985);
  color: #ffffff;
  border: 1px solid #5b85ab;
  border-radius: 3px;
  font-size: 13px;
  font-family: 'OpenSans-Semibold';
  cursor: pointer;
}
