html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'OpenSans-Regular', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'OpenSans-Regular', 'Helvetica Neue', sans-serif;
  src: url('assets/OpenSans-Regular.ttf') format('truetype');
}
